
@media screen and (max-width: 992px) {
    #navbaar{
        flex-direction: column !important;
    }
    .logo h1{
        font-size: 24px;
    }
    .manu ul  li{
        padding: 1% 2%;
    }
    .buttons{
        padding: 5px 10px;
    }
    .header{
        width: unset !important;
        flex-direction: column !important;
        margin: auto;
    }
    .header1,.header2{
        
        width: unset !important;
        height: unset !important;
    }
    .header2{
        margin-top: 5%;
    }
    .our h1{
        font-size: 30px;
    }
    .trust,.our21,.about2,.updete1,.updete2{  
        width: unset !important;
    }
    .about2{
        margin: 3% 0;
    }
    .trust1 ,.our2 ,.about1,.updete,.futtor{
        flex-direction: column;
        width: unset !important;
    }
    
    .futtor{
        text-align: center;
    }
   
  }
  